<div class="container-fluid">
<h1>{{title}}</h1>

    <div *ngFor="let distribution of distributions" class="row border border-primary rounded">
        <div class="col-sm">
            <h5 >Date : {{distribution.date | date:'dd MMMM yyyy'}}</h5>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-primary" (click)="showDistributionCreationForm = distribution.date" title="Créer une distribution à partir de celle-ci"><i class="fa fa-clone"></i></button>
                <button class="btn btn-outline-primary" (click)="deleteDistribution(distribution)"title="Supprimer cette distribution"><i class="far fa-trash-alt"></i></button>
                <button class="btn btn-outline-primary" (click)="setAbsence(distribution)" title="Je serai absent"><i class="far fa-calendar-times"></i></button>
            </div>
        </div>
        <div class="col-sm">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let basket of distribution.baskets">
                    <p>Propriétaire : {{basket.proprietary}}</p>
                    <p *ngIf="basket.proprietary != basket.taker" >
                        <span *ngIf="!basket.taker">Le panier n'a pas de preneur
                            <button class="btn btn-outline-primary" (click)="setTaker(distribution, basket.proprietary)" title="Je prends ce panier"><i class="far fa-hand-point-up"></i></button>
                        </span>
                        <span *ngIf="basket.taker">
                            <span *ngIf="basket.taker != currentUser.username">Le panier est enlevé par une autre personne ({{basket.taker}})</span>
                            <span *ngIf="basket.taker === currentUser.username">Je prends ce panier</span>
                        </span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <div *ngIf="showDistributionCreationForm === distribution.date">
                <form class="form-group" [formGroup]="newDistributionForm" (ngSubmit)="dupplicateDistribution(distribution)" >
                    <div>
                        <label for="date">
                        Date
                        </label>
                        <input class="form-control" required date name="date" id="date" type="date" formControlName="date">
                    </div>
                    <button class="btn btn-outline-primary" type="submit" [disabled]="!newDistributionForm.valid">Créer</button>
                </form>
            </div>
        </div>
    </div>
</div>
